* {
    margin: 0;
    padding: 0;
}
html {
    margin: 0 auto;
    background-color: #ccc;
}

body {
    background-color: #fff;
    max-width: 1300px;
    min-height: 1000px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1366px;
}
.a1 {
    height: 80px;
    background-color: #ccc;
    color: green;
    text-align: center;
    margin-top: 100px;
}
.go {
    margin: 100px auto;
    width: 70px;
    height: 70px;
    background-color: #fff;
    
}

h2 {
    height: 80px;
    
    background-color: #ccc;
    color: black;
    text-align: center;
}

h2 > span {
    color: red;
    font-size: 2em;
}

.add_img {
    padding: 50px;
    outline: 1px solid #000;
    min-width: 1000px;
    min-height: 500px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

.add_img img {
    width: 200px;
    height: 200px;
}